header{
    background-color: #444D58;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 5px;
    border: none;
    display: flex;
    width: 100%;
    height: 5%;
    align-items: center;
    position: relative;
    z-index: 3;
}
.main-title{
    text-align: left;
    color: white;
    font-size: 40px;
    margin-right: 3%;
    margin-left: 1.5%;      
}

.top-nav{
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 600;
    height: 100%;
    border: none;
    padding: 18px;
    background-color: #444D58;
    color: #919fb1;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.top-nav:hover{
    background-color: #343b44;
}

.btn-div{
    display: flex;
    flex-grow: 1;
    align-items: left;
}

#logout{
    margin-left: auto;
    margin-right: 1%;
}

