main{
  display: flex;
  height: 100vh;
  justify-content: center;
}

.information-field{
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 20px;
  position: absolute;
  width: 80%;
  height: 100%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
}

.main-data{
  padding: 15px;

}
#main-data{
  font-weight: 600;
  font-size: 1.5rem;
}

.legend::before {
  content: "📝";
  font-size: 1.5rem;
}