::ng-deep html, ::ng-deep body {
    overflow: hidden;
}

main {
    display: flex;
    height: 100vh;
}

aside{
    width: 20vw;
    background-color: #444D58;
    overflow-y: auto;
    border-right: 2px solid rgba(0, 0, 0, 0.2);
    z-index: 2;
}

aside::-webkit-scrollbar {
    width: 10px;
}

aside::-webkit-scrollbar-track {
    background: #444D58;
}

aside::-webkit-scrollbar-thumb {
    background-color: #E8EDF4;
    border: 1px solid #00000057;
    border-right: none;
}

.container{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 60px;
    border: none;
    border-top: none;
    border-right: none;
    background-color: #00000042;
}

.order-title{
    color: white;
    font-weight: 500;
    font-size: 25px;
    position: fixed;
    height: 60px;
    width: 20vw;
    border: none;
    background-color: #00000000;
    cursor: pointer;
    z-index: 2;
}

.order-title:hover{
    background-color: #00000021;
}

.menu-btn{
    font-family: "Montserrat", sans-serif;
    display: inline-block;
    width: 100%;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-top: none;
    border-right: none;
    background-color: #FFFFFF;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
}

.menu-btn:hover{
    background-color: #E8EDF4;
}

#main-btn{
    padding: 0;
    text-align: center;
    width: 30px;
    height: 100%;
}

#new-btn{
    padding: 0;
    text-align: center;
    width: 40px;
    height: 100%;
    margin-left: 88%;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
    font-size: 40px;
    z-index: 3;
}

#new-btn:hover{
    font-size: 45px;
}
