main{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.register-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #444D58;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 5px;
    border-radius: 10px;
    width: 500px;
    height: 300px;
    margin-top: 10%;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

label{
    display: block;
}
input{
    width: 300px;
    height: 27px;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    outline: none;
}

.button-box{
    display: flex;
    margin-right: 10px
}
.select-btn{
    font-family: "Montserrat", sans-serif;
    width: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    background-color: #444D58;
    color: #919fb1;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.select-btn:hover{
    background-color: #343b44;
}

.errorMsg{
    display: flex;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    margin-top:2%;
    width: 500px;
    height: 30px;
    color: red;
}

.successMsg{
    display: flex;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    margin-top:2%;
    width: 500px;
    height: 30px;
    text-align: center;
    color: green;
}

main{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.register-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #444D58;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 5px;
    border-radius: 10px;
    width: 500px;
    height: 300px;
    margin-top: 10%;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

label{
    display: block;
}
input{
    width: 300px;
    height: 27px;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    outline: none;
}

.button-box{
    display: flex;
    margin-right: 10px
}
.select-btn{
    font-family: "Montserrat", sans-serif;
    width: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    background-color: #444D58;
    color: #919fb1;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.select-btn:hover{
    background-color: #343b44;
}

.errorMsg{
    display: flex;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    margin-top:2%;
    width: 500px;
    height: 30px;
    color: red;
}

.successMsg{
    display: flex;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    margin-top:2%;
    width: 500px;
    height: 30px;
    text-align: center;
    color: green;
}

